<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/share-a-java/src/test/java/de/fiducia/sharea/test/PersonIntegrationTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CLOUDANT_DB_NAME" value="sharea"/>
<mapEntry key="SPRING_PROFILES_ACTIVE" value="test"/>
<mapEntry key="VCAP_APPLICATION" value="bluemix"/>
<mapEntry key="VCAP_SERVICES" value="{&quot;cloudantNoSQLDB&quot;: [{&quot;name&quot;: &quot;cloudantNoSQLDB&quot;,&quot;label&quot;: &quot;cloudantNoSQLDB&quot;,&quot;plan&quot;: &quot;Shared&quot;,&quot;credentials&quot;: {&quot;username&quot;: &quot;0c63a633-7702-49d4-a122-c063734cc194-bluemix&quot;,&quot;password&quot;: &quot;326819ff6efadaa99bb0cc4ec1e458a73850decb9e4946c0dfa2eb1ea26b92ba&quot;,&quot;host&quot;: &quot;0c63a633-7702-49d4-a122-c063734cc194-bluemix.cloudant.com&quot;,&quot;port&quot;: 443,&quot;url&quot;: &quot;https://0c63a633-7702-49d4-a122-c063734cc194-bluemix:326819ff6efadaa99bb0cc4ec1e458a73850decb9e4946c0dfa2eb1ea26b92ba@0c63a633-7702-49d4-a122-c063734cc194-bluemix.cloudant.com&quot;}}]}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.fiducia.sharea.test.PersonIntegrationTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="share-a-java"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
